<form class="form-horizontal" action = '/team/' method = 'post'>

    <fieldset>

    <!-- Form Name -->
    <legend>Create New Team!</legend>

    <!-- Text input-->
    <div class="form-group">
      <labelfor="subject">Team Name!</label>
      <div>
      <input id="name" name="name" type="text" value="" class="form-control input-md">

      </div>
    </div>



    <!-- Button -->
    <div class="div">
      <label for="submit"></label>
      <div>
        <button id="create" name="create" class="create-button">Create</button>
      </div>
    </div>

    </fieldset>

  <form>
