<form class="form-horizontal" action = '/team/<%=singleData.id%>' method = 'post'>

    <fieldset>

    <!-- Form Name -->
    <legend>Edit Your New Team!</legend>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="name">Edit Team Name!</label>
      <div class="div">
      <input id="name" name="name" type="text" value="<%= singleData.name%>" class="form-control input-md">

      </div>
    </div>



    <!-- Button -->
    <div class="div">
      <label for="edit"></label>
      <div>
        <button id="create" name="create" action = 'post' class="create-button">Edit</button>
      </div>
    </div>

    </fieldset>
  <form>
