<form class="form-horizontal" action = '/create' method = 'post'>

    <fieldset>

    <!-- Form Name -->
    <legend>Edit Your New Team!</legend>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="subject">Edit Team Name!</label>
      <div class="div">
      <input id="subject" name="subject" type="text" value="" class="form-control input-md">

      </div>
    </div>



    <!-- Button -->
    <div class="div">
      <label class="col-md-4 control-label" for="submit"></label>
      <div class="col-md-4">
        <button id="create" name="create" class="create-button">Edit</button>
      </div>
    </div>

    </fieldset>
  <form>
