<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/client/style.css">
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Seperate Pokemon</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class = "background">
  <form class="form-horizontal" action = '/team/<%=singleData.id%>' method = 'post'>
    <ul>
    <li><a href="#">Login</a></li>
    <li><a href="#">Register</a></li>
    <li><a href="http://localhost:3000/team/create">Create My Own Team</a></li>
    <li><a href="http://localhost:3000/team">Team</a></li>
    <li><a href="http://localhost:3000/pokemon">Home</a></li>
  </ul>

    <div>
      <label for="name">Edit Team Name!</label>
      <div class="div">
        <input id="name" name="name" type="text" value="<%= singleData.name%>" class="form-control input-md">
      </div>

    </div>
    <div class="div">
      <label for="edit"></label>
      <div>
        <button id="create" name="create" action = 'post' class="create-button">Edit</button>
      </div>

    </div>
  </form>
</form>
</body>
</html>
