<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type='text/css' href="client/style.css">
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Pokemon!</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body class = "background">
  <ul>
  <li><a href="#">Login</a></li>
  <li><a href="#">Register</a></li>
  <li><a href="http://localhost:3000/team/create">Create My Own Team</a></li>
  <li><a href="http://localhost:3000/team">Team</a></li>
  <li><a href="http://localhost:3000/pokemon">Home</a></li>
</ul>

<h1 class = "allPokemon">All pokemon</h1><br>
<% allData.forEach((pokemon) => {%>
<h3><u><%= pokemon.name %></u></h3>
<a href = '/pokemon/<%=pokemon.name%>'>Click For More Info!</a>
<%})%>



</body>
</html>
