<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Seperate TO DO</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body class = 'background'>
  <h1 class = "toDoList">
    <%= singleData.id %>
  </h1>
<h3>
  <%= singleData.name %>
</h3>

</body>

</html>
