<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="client/style.css">
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>My Teams!</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body class="background">
  <ul>
  <li><a href="http://localhost:3000/pokemon">Home</a></li>

  <li><a href="http://localhost:3000/team">Team</a></li>
  <li><a href="http://localhost:3000/team/create">Create My Own Team</a></li>
  <li><a href="#">Login</a></li>
  <li><a href="#">Register</a></li>
</ul>
  <h1 class = "team">My Teams!</h1>
  <form method="GET" action="/team/create">
  <button class ='create-edit-delete-button'>Create New Team!</button>
  </form>


  <% allData.forEach((allData) => {%>
  <h1>  <a href ='/team/<%= allData.id%>'><u><%= allData.name %> </u></a> </h1>


<form method="GET" action="/team/<%=allData.id%>/edit">
<button class ='create-edit-delete-button'>Edit</button>
</form>

<form method="POST" action="/team/<%=allData.id%>?_method=DELETE">
<button class = 'create-edit-delete-button'>Delete</button>
</form>
<%})%>
</body>

</html>
